/*CSS for Hobbies*/
#hobbies-wrapper{
    margin: 0.5em 0.5em;
    padding: 1.25em 1.25em;
    background-color: mediumaquamarine;
    border-radius: 2.5rem;
    border-style: groove;
    border-color:royalblue;
    position: relative;
  }
  
  #hobbies-wrapper h2{
    text-align: center;
    border-bottom: 0.15rem solid black;
    margin: 0.25rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #hobbies-lacrosse{
    float: left;
    left: 25%;
    margin: 1rem 1rem;
    padding: 1.5rem 1.5rem;
    background-color: azure;
    position: relative;
  }
  
  #hobbies-lacrosse p{
    text-align: left;
  }
  #hobbies-lacrosse img{
    text-align: right;
  }