/*header for all pages css*/
.header-border{
  width:100%;
  border: 0.5em black;
  border-style: solid;
  margin: 1em 0;
  padding: 1em;
  background: aqua;
  position: relative;
}

/*Simple wave animation added to each title*/
.header-animation{
  margin-top: 0.6em;
  font-size: 3em;
  text-align: center;
}

.header-animation h1{
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: bold;
}

.header-animation span{
  display: inline-block;
  -webkit-animation: wave-text 1s ease-in-out infinite;
  animation: wave-text 1s ease-in-out infinite;
}

.header-animation span:nth-of-type(1){
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.header-animation span:nth-of-type(2){
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.header-animation span:nth-of-type(3){
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.header-animation span:nth-of-type(4){
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.header-animation span:nth-of-type(5){
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/*animation keyframes*/
@-webkit-keyframes header-text{
  00% {
    transform: translateY(0em)
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes header-text{
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

/*navbar css*/
.main-navbar{
  background-color: lightblue;
  overflow: hidden;
}

.navbar-container{
  float: left;
  width: 100%;
  border-bottom: 2px solid black;
}

.main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

.main-navbar ul li{
  float: left;
  position: relative;
  right: 50%;
}

.main-navbar ul li a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: navy;
  margin: 0 -.25rem;
  padding: 1.25rem 2.188rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

.main-navbar ul li a:hover{
  text-decoration: none;
  box-shadow: inset 10.938rem 0 0 0 deepskyblue;
  color: white;
}


/* CSS page 1*/
#inline-resume-header{
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
} 

#resume-header{
  display: inline-block;
  margin: 1rem;
  padding: 1rem 1rem;
  position: relative;
  vertical-align: top;
}

#inline-parent{
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

#education{
  display: inline-block;
  position: relative;
  padding: 1rem 1rem;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

#education h2{
  font-weight: bold;
  font-size: 1.4em;
  border-bottom: .2rem solid black;
}

#education h3{
  font-weight: bold;
  font-size: 1.2em;
}

#technical{
  display: inline-block;
  position: relative;
  padding: 1rem 1rem;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

#technical h2{
  font-weight: bold;
  font-size: 1.4em;
  border-bottom: 0.2rem solid black;
}

#technical ul{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}

#work-experience{
  display: inline-block;
  position: relative;
  padding: 1rem 1rem;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

#work-experience h2{
  font-weight: bold;
  font-size: 1.4em;
  border-bottom: 0.2rem solid black;
}

#work-experience h3{
  font-weight: bold;
  font-size: 1.2em;
}